.limit {
  list-style-position: inside;
  padding-left: 0px;
}

.limit p {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

.limit li {
  list-style: none;
}

.selected {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

.filter-name {
  width: 300px;
  height: 43px;
  display: flex;
  padding: 6px 6px 0px 5px;
  background-color: #FFFFFF;
}

.filter-name input {
  width: 290px;
  height: 30px;
  border: none;
}

.filter-name button {
  width: 30px;
  height: 30px;
  background-color: #D4006A;
  border: none;
  border-radius: 4px;
}

.filter-category {
  width: 250px;
  height: 56px;
  padding: 0px 6px 6px 6px;
}

.filter-category select {
  width: 250px;
  height: 44px;
}

.sorting {
  width: 250px;
  height: 56px;
  padding: 0px 6px 6px 6px;
}

.sorting select {
  width: 250px;
  height: 44px;
}

.fa {
  color: #FFFFFF;
}

.item-selected .addToCart{
  max-width: 200px;
  height: 30px;
  border-radius: 20px;
  font-size: 15px;
  margin-top: -26px;
  margin-right: 5px;
  background-color: #D4006A;
  border: none;
  color: #FFFFFF;
}

.item-selected .addToCart:active{
  background-color: #FFFFFF;
  color: #A91B60;
}

.item-selected .minus {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  font-size: 10px;
  margin-left: 5px;
  background-color: #D4006A;
  border: none;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-selected .minus :active{
  background-color: #FFFFFF;
  color: #A91B60;
}

.page-info {
  background-color: #FFFFFF;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
  height: 40px;
}

.page-info button {
  width: 30px;
  height: 30px;
  background-color: #D4006A;
  border: none;
  border-radius: 4px;
}

.page-info p{
  background-color: #F4CBDD80;
  width: 100px;
  height: 30px;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
}

.page-info button:active{
  transform: scale(1.1);
}

