.card {
    width: 400px;
    border: 1px solid #e2e5e6;
    border-radius: 16px;
  }

  
  .card h5 {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
  }
  
  .card p {
    font-size: 13px;
    font-weight: 400;
    margin-top: 10px;
    color: grey;
  }

  
  .card-head {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 268px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;

    /* atau border-radius: 16px 16px 0px 0px; */
  }
  
  .card-head img {
    object-fit: contain;
    width: 286px;
    height: 267px;
  }