.page-title {
    background-color: #A91B60;
    padding: 56px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 0;
  }

  
  .cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #F4CBDD;
    max-width: 1300px;
    margin: 0 auto;
    border-radius: 16px;
  }
  
  .cards-container .cardProducts {
    margin: 24px 16px;
  }

  .cards-container .card {
    margin: 24px 16px;
  }